* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

// @media screen and (max-width: 767px) {
//   html {
//     font-size: 13.33vw;
//     font-size: -webkit-calc(13.33vw);
//     font-size: calc(13.33vw);
//   }
// }

// @media screen and (min-width: 767px) {
//   html {
//     font-size: 8.2465vw;
//   }
// }

// @media screen and (min-width: 1212px) {
//   html {
//     font-size: 100px;
//   }
// }

body {
  overflow-x: hidden;
  background: #f5f9ff;
}

button {
  border: none;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //-webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
  color: #333333;
  pointer-events: auto;
}

ul {
  list-style: none;
}

.pic-full {
  background-repeat: no-repeat;
  background-size: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  clear: both;
}

input {
  outline: none;
}

.text {
  font-size: 16px;
  font-family: PingFangSC,
    PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #333;
}

// 文本溢出显示省略号
.text-ellipsis {
  // display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// flex布局
.d-flex {
  display: flex;
}

// 纵向排列
.flex-column {
  flex-direction: column;
}

// 横线排列换行
.flex-wrap {
  flex-wrap: wrap;
}

// 垂直方向对齐
$flex-jc:(start:flex-start,
  end:flex-end,
  center:center,
  between:space-between,
  around:space-around,
  evenly:space-evenly);

// 水平方向对齐
$flex-ai:(start:flex-start,
  end:flex-end,
  center:center,
  stretch:stretch,
);

@each $key,
$value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key,
$value in $flex-jc {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}